
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);    
}

  .light {
    --bg-primary: #ffffff;
    --text-primary: #000000;
  }
  
  .dark {
    --bg-primary: #1a1a1a;
    --text-primary: #ffffff;
  }


body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

@layer base {
  .light {
    --bg-primary: #ffffff;
    --text-primary: #000000;
  }
  
  .dark {
    --bg-primary: #1a1a1a;
    --text-primary: #ffffff;
  }
}
